<form method="post" enctype="multipart/form-data" action="/decks">
  <input type='email' required placeholder='Your Email Address' name="instructor_email"><br>
  <input type='email' required placeholder='Producer’s Email Address' name="producer_email"><br>
  <label>
    Your slide deck
    <input type='file' name='file'>
  </label>
  <br>
  <input type="submit" value="Submit">
</form>

