<!doctype html>
<html>
  <head>
    <title>GA C&W Decks</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://s3.amazonaws.com/ga-patterns/css/ga-patterns-latest.min.css" rel="stylesheet" />
  </head>
  <body>
    <section>
    <h1>C&W Decks</h1>
    <%= yield %>
    </section>
  </body>
</html>
